* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Poppins",sans-serif; 
}

:root {
  /* color */
  /* --dark-green: #013237;
  --green: #4CA771;
  --light-green: #C0E6BA;
  --lighter-green: #EAF9E7;
  --light: rgba(255,255,255,1); */
  
  
  --dark-green: #013237;
  --green: #01392D;
  --light-green: #346A55;
  --lighter-green: #EAF9E7;
  --light: rgba(255,255,255,1);

  /* transistion */
  --transition1: 200ms;
  --transition2: 400ms;
  --transition3: 600ms;

  /* font */
  --font-h1-lg: 45px;
  --font-h1-md: 40px;
  --font-h1: 30px;

  --font-h-medium-lg: 32px;
  --font-h-medium-md: 28px;
  --font-h-medium: 22px;

  --font-h2-lg: 26px;
  --font-h2-md: 20px;
  --font-h2: 15px;

  --font-h3-lg: 19px;
  --font-h3-md: 14px;
  --font-h3: 11px;

  --font-p-lg: 11px;
  --font-p-mid: 9px;
  --font-p-sm: 8px;
  --font-p-xsm: 6px;

  /* radius */
  --rounded-large: 30px;
  --rounded-mid: 15px;
  --rounded-small: 10px;
  --rounded-under:0px 0px 7px 7px;

  /* font-weight */
  --bolder: 900;
  --bold: 700;
  --medium: 500;

  /* border */

  /* outline */

  /* shadows */
  --box-shadow: 0px 2px 3px 1px rgba(213, 211, 211, 0.8);
}


/* background color */
.alg-bg-dark-green {
  background-color: var(--dark-green);
}

.alg-bg-green {
  background-color: var(--green);
}

.alg-bg-light-green {
  background-color: var(--light-green);
}

.alg-bg-lighter-green {
  background-color: var(--lighter-green);
}

.alg-bg-light {
  background-color: var(--light);
}


/* text-color */
.alg-text-dark {
  color: var(--dark-green);
}
.alg-text-light {
  color: var(--light);
}


/* shadow */
.alg-shadow {
  box-shadow: var(--box-shadow);
  
}


/* hover effects */


/* button */



/* input field */


/* border color */
.alg-border-color {
  border-color: var(--light-green);
}


/* border radius */
.alg-rounded-large {
  border-radius: var(--rounded-large);
}

.alg-rounded-mid {
  border-radius: var(--rounded-mid);
}

.alg-rounded-small {
  border-radius: var(--rounded-small);
}
.alg-rounded-under-small{
  border-radius: var(--rounded-under);
}

/* models */



/* font weight */
.alg-bolder {
  font-weight: var(--bolder);
}

.alg-bold {
  font-weight: var(--bold);
}

.alg-bold-medium {
  font-weight: var(--medium);
}

@media screen and (min-width: 1070px) {

  /* font size */
  .alg-text-p {
    font-size: var(--font-p-lg);
  }

  .alg-text-h1 {
    font-size: var(--font-h1-lg);
  }

  .alg-text-h2 {
    font-size: var(--font-h2-lg);
  }

  .alg-text-h3 {
    font-size: var(--font-h3-lg);
  }
  .alg-text-medium {
    font-size: var(--font-h-medium-lg);
  }
}

@media screen and (max-width: 1070px) and (min-width: 575px) {

  /* font size */
  .alg-text-p {
    font-size: var(--font-p-mid);
  }

  .alg-text-h1 {
    font-size: var(--font-h1-md);
  }

  .alg-text-h2 {
    font-size: var(--font-h2-md);
  }

  .alg-text-h3 {
    font-size: var(--font-h3-md);
  }
  .alg-text-medium {
    font-size: var(--font-h-medium-md);
  }
}

@media screen and (max-width: 575px) {

  /* font size */
  .alg-text-p {
    font-size: var(--font-p-sm);
  }

  .alg-text-h1 {
    font-size: var(--font-h1);
  }

  .alg-text-h2 {
    font-size: var(--font-h2);
  }

  .alg-text-h3 {
    font-size: var(--font-h3);
  }
  .alg-text-medium {
    font-size: var(--font-h-medium);
  }


}

/* width */
::-webkit-scrollbar {
  /* width: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  /* background: var(--white); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--tan); */
  /* border-radius: 20px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--gold); */
}